.page {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 1;
    position: absolute;
}

.loadingPageText {
    position: fixed;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #4481c3;
    color: white;
    border-radius: 5px;
    font-size: 25px;
}
